body {
width:960px
margin:20px;
font-family: "arial";
color:blue;
background-color: white;
background-size: cover;
background-position: center center;

}

h4 {color:black;
margin:20px;}
p{ color:black;}
li{color:black;}
tr{color:black;}

.stein{color:red;}

#blue{color:blue;
font-size: 18px}

#throwback{
	padding:5px;
	border:5px black;
	margin:5px;
	float:right;
	background-position: center;
	
}

#headline{clear: both;
  background-color: black;
  padding: 5px;
  border: 10px solid black;
  margin-top: 10px;}